<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head")  %> 
  

</head>
<body>
    
    <%- include("../partials/nav")  %> 
  
    <div class="container mt-3">
          <div class="row">
            <div class="col-md-12 mt-3">
                <% if (action != "undefined" && action=="update") { %>
                    <div class="alert alert-success">
                          blog Güncelledi.
                    </div>
                <% } %>
                <% if (action != "undefined" && action=="create") { %>
                    <div class="alert alert-success">
                        Blog Eklendi.
                    </div>
                <% } %>
                <% if (action != "undefined" && action=="delete") { %>
                    <div class="alert alert-success">
                        Blog Silindi.
                    </div>
                <% } %>
         
                    <%- include("../partials/blogs-table")%>
            </div>
          </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <script>
  

        function confirmDelete(id){
         
            Swal.fire({
                title: 'Blog will be deleted , Are you sure?',
                text: "",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
              }).then((result) => {
                if (result.isConfirmed) {
                  //  alert('form'+id);
                     document.getElementById('form'+id).submit();
                    //$('#form'+id).submit();
                }
              })
 
        }
    </script>
</body>
</html>



