<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
   <style>
    .ck-editor__editable_inline{
        min-height: 300px;
    }
   </style>
    <title><%=title%></title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
         function confirmLogOut(){
         
         Swal.fire({
             title: 'Are you sure to logout ?',
             text: "",
             icon: 'warning',
             showCancelButton: true,
             confirmButtonColor: '#3085d6',
             cancelButtonColor: '#d33',
             confirmButtonText: 'Yes, let me out!'
           }).then((result) => {
             if (result.isConfirmed) {
               //  alert('form'+id);
                  document.getElementById('form-logout').submit();
                 //$('#form'+id).submit();
             }
           })

     }
    </script>
</head>